[submodule "application/third_party/php-activerecord"]
	path = application/third_party/php-activerecord
	url = git://github.com/topicdesign/php-activerecord-spark.git
[submodule "application/third_party/authority"]
	path = application/third_party/authority
	url = git://github.com/topicdesign/codeigniter-authority-authorization.git
[submodule "application/third_party/authentic"]
	path = application/third_party/authentic
	url = git://github.com/topicdesign/codeigniter-authentic-authentication.git
[submodule "application/third_party/template"]
	path = application/third_party/template
	url = git@github.com:topicdesign/codeigniter-template.git
