[submodule "application/third_party/php-activerecord"]
	path = application/third_party/php-activerecord
	url = git://github.com/topicdesign/php-activerecord-spark.git
[submodule "application/third_party/authority"]
	path = application/third_party/authority
	url = git://github.com/topicdesign/topkit-authority.git
[submodule "application/third_party/authentic"]
	path = application/third_party/authentic
	url = git://github.com/topicdesign/topkit-authentic.git
[submodule "application/third_party/document"]
	path = application/third_party/document
	url = git://github.com/topicdesign/topkit-document.git
