.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

*.min.*
assets/cache/*
!assets/cache/.folder
assets/uploads/*
!assets/uploads/.folder

*.sass-cache
