/* line 4, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, /Users/jack/Sites/top/topkit/application/assets/stylesheets/partials/_page.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  margin: 2em;
}
/* line 51, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #004c99;
}
/* line 21, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #0099ff;
}
/* line 24, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #0099ff;
}
/* line 27, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #bf00ff;
}
/* line 63, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
/* line 86, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 88, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 89, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 9, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(4.16667%, rgba(0, 0, 0, 0)), color-stop(4.16667%, rgba(100, 100, 225, 0.25)), color-stop(7.29167%, rgba(100, 100, 225, 0.25)), color-stop(7.29167%, rgba(0, 0, 0, 0)), color-stop(8.33333%, rgba(0, 0, 0, 0)), color-stop(8.33333%, rgba(100, 100, 225, 0.25)), color-stop(11.45833%, rgba(100, 100, 225, 0.25)), color-stop(11.45833%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(0, 0, 0, 0)), color-stop(16.66667%, rgba(100, 100, 225, 0.25)), color-stop(19.79167%, rgba(100, 100, 225, 0.25)), color-stop(19.79167%, rgba(0, 0, 0, 0)), color-stop(20.83333%, rgba(0, 0, 0, 0)), color-stop(20.83333%, rgba(100, 100, 225, 0.25)), color-stop(23.95833%, rgba(100, 100, 225, 0.25)), color-stop(23.95833%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(29.16667%, rgba(0, 0, 0, 0)), color-stop(29.16667%, rgba(100, 100, 225, 0.25)), color-stop(32.29167%, rgba(100, 100, 225, 0.25)), color-stop(32.29167%, rgba(0, 0, 0, 0)), color-stop(33.33333%, rgba(0, 0, 0, 0)), color-stop(33.33333%, rgba(100, 100, 225, 0.25)), color-stop(36.45833%, rgba(100, 100, 225, 0.25)), color-stop(36.45833%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(41.66667%, rgba(0, 0, 0, 0)), color-stop(41.66667%, rgba(100, 100, 225, 0.25)), color-stop(44.79167%, rgba(100, 100, 225, 0.25)), color-stop(44.79167%, rgba(0, 0, 0, 0)), color-stop(45.83333%, rgba(0, 0, 0, 0)), color-stop(45.83333%, rgba(100, 100, 225, 0.25)), color-stop(48.95833%, rgba(100, 100, 225, 0.25)), color-stop(48.95833%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(54.16667%, rgba(0, 0, 0, 0)), color-stop(54.16667%, rgba(100, 100, 225, 0.25)), color-stop(57.29167%, rgba(100, 100, 225, 0.25)), color-stop(57.29167%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(0, 0, 0, 0)), color-stop(58.33333%, rgba(100, 100, 225, 0.25)), color-stop(61.45833%, rgba(100, 100, 225, 0.25)), color-stop(61.45833%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(66.66667%, rgba(0, 0, 0, 0)), color-stop(66.66667%, rgba(100, 100, 225, 0.25)), color-stop(69.79167%, rgba(100, 100, 225, 0.25)), color-stop(69.79167%, rgba(0, 0, 0, 0)), color-stop(70.83333%, rgba(0, 0, 0, 0)), color-stop(70.83333%, rgba(100, 100, 225, 0.25)), color-stop(73.95833%, rgba(100, 100, 225, 0.25)), color-stop(73.95833%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(79.16667%, rgba(0, 0, 0, 0)), color-stop(79.16667%, rgba(100, 100, 225, 0.25)), color-stop(82.29167%, rgba(100, 100, 225, 0.25)), color-stop(82.29167%, rgba(0, 0, 0, 0)), color-stop(83.33333%, rgba(0, 0, 0, 0)), color-stop(83.33333%, rgba(100, 100, 225, 0.25)), color-stop(86.45833%, rgba(100, 100, 225, 0.25)), color-stop(86.45833%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(91.66667%, rgba(0, 0, 0, 0)), color-stop(91.66667%, rgba(100, 100, 225, 0.25)), color-stop(94.79167%, rgba(100, 100, 225, 0.25)), color-stop(94.79167%, rgba(0, 0, 0, 0)), color-stop(95.83333%, rgba(0, 0, 0, 0)), color-stop(95.83333%, rgba(100, 100, 225, 0.25)), color-stop(98.95833%, rgba(100, 100, 225, 0.25)), color-stop(98.95833%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -webkit-background-size: 100% 18px, auto;
  -moz-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a, body .alert a {
  color: #8a1f11;
}
/* line 7, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 9, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info a {
  color: #205791;
}
/* line 10, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 11, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 12, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 13, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}
/* line 39, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 47, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body form.inline {
  line-height: 3;
}
/* line 6, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form.inline p {
  margin-bottom: 0;
}

/* line 4, /Users/jack/Sites/top/topkit/application/assets/stylesheets/partials/_header.scss */
#header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 4, /Users/jack/Sites/top/topkit/application/assets/stylesheets/partials/_footer.scss */
#footer nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 18, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border-color: #666666;
}
/* line 65, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, /Users/jack/.rvm/gems/ruby-1.9.3-p194@topkit/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 1, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
div.status, p.error, body p.alert {
  display: none;
}

/* line 5, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
html.no-js div.status, html.no-js p.error, html.no-js body p.alert, body html.no-js p.alert {
  display: block;
}

/* line 9, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

/* line 17, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification {
  position: relative;
}

/* line 21, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification .jnotify-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3f0db;
  filter: alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.90;
  z-index: 1;
}

/* line 38, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification a.jnotify-close,
.jnotify-container .jnotify-notification a.jnotify-close:link,
.jnotify-container .jnotify-notification a.jnotify-close:visited,
.jnotify-container .jnotify-notification a.jnotify-close:focus,
.jnotify-container .jnotify-notification a.jnotify-close:hover {
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 0 5px;
  font: bold 1.4em Arial,Helvetica,sans-serif;
  line-height: 1em;
  color: #567b1b;
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
}

/* line 51, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification .jnotify-message {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
  color: #567b1b;
  font: bold 1.4em Arial,Helvetica,sans-serif;
  line-height: 1.2em;
}

/* line 61, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification .jnotify-message * {
  font-size: 1em;
}

/* notification type == "error" */
/* line 66, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification-error .jnotify-background {
  background-color: #d79eac;
}

/* line 71, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification-error .jnotify-close,
.jnotify-container .jnotify-notification-error .jnotify-message {
  color: #a72947 !important;
}

/* notification type == "warning" */
/* line 76, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification-warning .jnotify-background {
  background-color: #fff7d1;
}

/* line 81, /Users/jack/Sites/top/topkit/application/third_party/assets/stylesheets/_jquery.jnotify.scss */
.jnotify-container .jnotify-notification-warning .jnotify-close,
.jnotify-container .jnotify-notification-warning .jnotify-message {
  color: #c2a928 !important;
}
