<section id="admin-image-cropper">
  <header>
    <ul class="breadcrumb">
      <li>
        <?php echo lang('image_cropper_title'); ?>
      </li>
    </ul>
  </header>
  <div class="section-content">
    <form action="<?php echo site_url(uri_string()); ?>" method="post">
    <?php foreach ($sizes as $size => $data): ?>
      <fieldset>
        <div class="control-group">
          <label><?php echo lang(sprintf('image-%s-%s-label', $image->resource_type, $size)); ?></label>
          <div class="controls">
            <p class="help-block"><?php echo lang(sprintf('image-%s-%s-instruction', $image->resource_type, $size)); ?></p>
            <img src="<?php echo site_url($image->cache_dir . $file_name); ?>"
              class="crop"
              data-ratio="<?php echo $data['width'] / $data['height']; ?>"
              data-name="<?php echo $size; ?>"
              />
            <input type="hidden" name="<?php echo $size; ?>" class="dimensions" />
          </div>
        </fieldset>
    <?php endforeach; ?>
      <div class="form-actions">
        <input type="submit" value="Save" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</section>
