/* line 7, sass/ie.scss */
body {
  text-align: center;
}
/* line 44, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 48, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body p code {
  *white-space: normal;
}
/* line 60, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body .container {
  text-align: left;
}
/* line 62, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body sup {
  vertical-align: text-top;
}
/* line 64, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body sub {
  vertical-align: text-bottom;
}
/* line 66, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body hr {
  margin: -8px auto 11px;
}
/* line 68, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body img {
  -ms-interpolation-mode: bicubic;
}
/* line 70, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body fieldset {
  padding-top: 0;
}
/* line 72, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body legend {
  margin-top: -0.2em;
  margin-bottom: 1em;
  margin-left: -0.5em;
}
/* line 76, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body fieldset, body #IE8#HACK {
  padding-top: 1.4em;
}
/* line 77, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body legend, body #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 78, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body textarea {
  overflow: auto;
}
/* line 80, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body label {
  position: relative;
  top: -0.25em;
}
/* line 84, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 88, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.text:focus {
  border: 1px solid #666666;
}
/* line 90, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 94, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.title:focus {
  border: 1px solid #666666;
}
/* line 96, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 99, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.radio {
  position: relative;
  top: 0.25em;
}
/* line 102, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body input.button {
  position: relative;
  top: 0.25em;
}
/* line 105, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body textarea {
  margin: 0.5em 0;
}
/* line 107, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body select {
  margin: 0.5em 0;
}
/* line 109, /usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body button {
  position: relative;
  top: 0.25em;
}
